<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
 
<beans>   
 	<bean id = "player" class = "com.vicky.StonePaperScissor.GamePlayer"></bean>  
 	<bean id = "generate" class = "com.vicky.StonePaperScissor.GenerateRandom"></bean> 
 	<bean id = "result" class = "com.vicky.StonePaperScissor.FinalResult"></bean>  
 	 
 
</beans>